<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.prttstft.materialmensa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activities.about.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activities.details.DetailsActivity"
            android:label="@string/activity_details_title"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Details"/>

        <activity
            android:name=".ui.activities.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>